**Задание 1**

1) Используя средства модуля [pandas](https://github.com/dm-fedorov/python3_intro/blob/master/lesson_13/pandas.ipynb), определите среднюю, максималную, минимальную зарплату и среднюю, максималную, минимальную пенсию в Санкт-Петербурге в 2018 году.

2) Продемонстрируйте умение построения графиков (для произвольных значений) с помощью plot.


**Задание 2**

Для [файла](http://dfedorov.spb.ru/python3/forecast.html), расположенного в сети Интернет, напишите сценарий с использованием [модуля bs4](https://github.com/dm-fedorov/python3_intro/blob/master/lesson_13/bs4.ipynb), который извлекает данные и сохраняет их в файле формата CSV, где первый столбец - день недели, второй столбец - погода. 

**Переходим к решению первой задачи:**

Импортируем модуль pandas:

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

Читаем содержимое csv файла:

In [5]:
data = pd.read_csv('opendata.csv', encoding='cp1251')
data.head()

                                           name  region        date   value
0  Количество заявок на потребительские кредиты  Россия  2013-01-15  571147
1  Количество заявок на потребительские кредиты  Россия  2013-02-15  504508
2  Количество заявок на потребительские кредиты  Россия  2013-03-15  628803
3  Количество заявок на потребительские кредиты  Россия  2013-04-15  836054
4  Количество заявок на потребительские кредиты  Россия  2013-05-15  867235

Далее пошаговый код...

**Переходим к решению второй задачи:**